<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <% include audit_header.ejs %>
  </head>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <% include audit_common.ejs%>

        <div class="right_col" role="main">
          <div class="">

            <!-- title -->
            <div class="page-title">
              <div class="title_left">
                <h3>
                  历史账单
                </h3>
              </div>
              <div class="title_right">
                <h1>&nbsp;</h1>
              </div>
            </div>
            <!-- title -->

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <div class="col-md-4">
                      <div id="reportrange_right" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <span>April 26, 2016 - May 25, 2016</span> <b class="caret"></b>
                      </div>
                    </div>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <% include audit_tables.ejs %>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <% include audit_footer.ejs%>
      </div>
    </div>
    <% include audit_footjs.ejs %>
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
    <!-- Datatables -->
    <script>
      $(document).ready(function() {
        $("#datepicker").datepicker();
        $('#datatable').dataTable({
          language: {
            url: '//cdn.datatables.net/plug-ins/1.10.11/i18n/Chinese.json'
          }
        });
      });
    </script>
    <!-- /Datatables -->


  </body>
</html>
