<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <% include audit_header.ejs %>
  </head>
  <body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <% include audit_common.ejs%>

      <div class="right_col" role="main">
        <div class="">

          <!-- title -->
          <div class="page-title">
            <div class="title_left">
              <h3>
                帐户信息
              </h3>
            </div>
            <div class="title_right">
              <h1>&nbsp;</h1>
            </div>
          </div>
          <!-- title -->

        </div>
      </div>

      <% include audit_footer.ejs%>
    </div>
  </div>
  <% include audit_footjs.ejs %>
  </body>
</html>